{
  "plugins": ["prettier-plugin-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^[./]",
    "",
    "lucide-react",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
