@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope-variable.ttf");
}

@theme {
  --color-primary: #e21a36;
  --color-dark: #9b1b3b;
  --color-dark-border: #8a1834;
  --color-milk: #fcecdf;
}

*,
*::before,
*::after {
  font-family: "Manrope";
}
